@page "/fizzbuzz"
@using BlazorFizzBuzz.Models

<PageTitle>Fizz Buzz</PageTitle>
<div class="container-xxl my-3">
    <h3>Solve the FizzBuzz Challenge</h3>
    <p>Enter your values, press the button, and see how the FizzBuzz logic works.</p>
    <EditForm Model="fizzBuzzModel">
        <div class="border border-secondary rounded p-4">
            <div class="row">
                <div class="col-md-4">
                    <label for="fizzValue" class="form-label">Fizz Value</label>
                    <InputNumber id="fizzValue" class="form-control" @bind-Value="fizzBuzzModel.FizzValue"
                        placeholder="Fizz Value" />
                </div>
                <div class="col-md-4">
                    <label for="buzzValue" class="form-label">Buzz Value</label>
                    <InputNumber id="buzzValue" class="form-control" @bind-Value="fizzBuzzModel.BuzzValue"
                        placeholder="Buzz Value" />
                </div>
                <div class="col-md-4">
                    <label for="stopValue" class="form-label">Stop Value</label>
                    <InputNumber id="stopValue" class="form-control" @bind-Value="fizzBuzzModel.StopValue"
                        placeholder="Stop Value" />
                </div>
            </div>
        </div>
    </EditForm>
</div>


@code {
    private BlazorFizzBuzz.Models.FizzBuzz fizzBuzzModel = new();
}